/* -------------- General Styling -------------- */
body{
    font-family: optima;
}
figure{
    display:inline-block;
}

figcaption {
  margin: 4px;
  text-align: center;
  font-style: bold;
    
}
h3{
    text-align: center;
}

/* ------------- Header Area -------------- */
.top_image_box{
    width: 100%;  
    height: auto;
    text-align: center;
    top:-65px;
    overflow:hidden;
    }

/* Avatar picture of me*/
#a{
    position: absolute;
    top:280px;
    left:250px;
    border: 1px white solid;
    border-radius:50%;
    width:150px;
}
#top_bar{
    display: block;
    width: 100%;
    text-align: justify;
}

#avatar{
    display:inline-block;
    border: 1px;
    border-radius: 50%;
    width: 150px;
    margin-top: 10px;
    margin-left:15%;
}
#name_bar{
    display:inline-block;
    margin:auto;
    width: 25%;
    text-align: left;
    margin-top: 10px;
    font-size: 50px;
    margin-left:3%;
}

#contact_block{
    display: inline-block;
    width: auto;
    float: right;
    text-align: right;
    vertical-align: top;
    margin-top: 10px;
    margin-right: 7%;


}
#contact_heading{
    font-size: 28px;
    text-align:center;
    
}
#contact_email{
    margin-top: 3px;
}

/* ------------- Intro/Bio --------------*/
#intro_block{
    display:block;
    margin:auto;
    margin-top:15px;
    width: 55%;
    text-align: center;
}


#aboutme_block{
    display: inline-block;
    width: 100%;
    height: auto;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    
}
#aboutme{
    font-size:20px;
    padding:10px;
    text-align:justify;

}


/* -------------- Portfolio Area ---------------- */

#port_bar{
    display:block;
    margin-left:27.5%;
    width: 25%;
    text-align: left;
    margin-top: 25px;
    font-size: 50px;
}

#projects_block{
    display: block;
    height: auto;
    width: 65%;
    margin-left: 23%;
    margin-right:12%;
}
#projects_line{
    display: block;
    width: 100%;
    margin:auto;
    
}
#projects_fig{
    display: inline-block;
    height:300px;
    width:40%;
    padding: 1%;
    margin: 25px;
    margin-bottom: 10px;
    vertical-align: top;
    
}

#proj_img_left{
    display:block;
    width:95%; 
    float: left;
    margin: 6px;
    border: 1px grey solid;
    box-shadow: 0 0 5px 5px #ccc;
    border-radius: 6px;

}
#proj_img_right{
    display:block;
    width:95%; 
    float: right;
    margin: 6px;
    border: 1px grey solid;
    box-shadow: 0 0 5px 5px #ccc;
    border-radius: 6px;

}

#proj_para{
    display:block;
    width: 80%;
    font-size: 14;
    margin: auto;
    text-align:justify;
}


/* --------- Scrolly Stuff ---------- */

#overview{
        width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
    #scrolly {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;    
      padding: 1rem;
    }

    #scrolly > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    article {
      position: relative;
      padding: 0 1rem;
      width: 800px;
    }

    .sticky-thing {
      position: -webkit-sticky;
      position: sticky;
      width: 100%;
      margin: 0;
      margin-bottom: 20%;
      z-index: 0;
      top: 12.5vh;
      height: 75vh;
      /* Center everything inside */
      display: flex;
      align-items: center;
      justify-content: center;

    }

    .sticky-thing figure {
      display: flex;
      flex-direction: column;
      margin: 10px;
      vertical-align: middle;
      width: 0%;
      height: 0%;
    }

    .sticky-thing figcaption {
      align-self: flex-end;
      text-align: center;
      font-size: 15px;
      font-style: italic;
      line-height: 1.5;
      margin: auto;
    }

    .sticky-thing iframe {

      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      margin-bottom: 10px;
      border: none;
      
    }

    .step {
      margin: 0 auto 2rem auto;  
      color: #ffffff;
      margin-bottom: 400px;
    }

    .step:last-child {
      margin-bottom: 400px;
    }

    .step.is-active {
      color: #3b3b3b;
    }

    .step p {
      text-align: justify;
      padding: 1rem;
      font-size: 1.5rem;
      font-size: 15px;

    }

a,
a:visited,
a:hover {
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

#outro {
  height: 5 px;
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}
